<form>
Species:<br>
 <input type="text" name="species" [(ngModel)]="newAnimal.species"> <br>
Name of Animal:<br>
 <input type="text" name="name" [(ngModel)]="newAnimal.name"><br>
Date of Birth:<br>
 <input type="text" name="dateOfBirth" [(ngModel)]="newAnimal.dateOfBirth"> <br>

 <button (click) = "addAnimal()" class="btn btn-success">Add animal</button>

</form><br>


<table class="table table">
  <thead>
    <tr>
      <th>Species</th>  
      <th>Name</th>
      <th>Date of birth</th> 
    </tr>

  </thead>

  <tr *ngFor="let animal of animals">

    <td>{{ animal.species }}</td>
    <td>{{ animal.name }}</td>
    <td *ngIf="!animal.dateOfBirth"> Unknown </td>
    <td *ngIf="animal.dateOfBirth">{{ animal.dateOfBirth }}</td>
    <td>
      <button class="btn btn-danger" (click)="removeAnimal(animal)"> Delete </button>
    </td>

    <td>
      <button class="btn btn-danger" (click)="moveToTop(animal)"> Move to top </button>
    </td>


  </tr>
</table>